/* Massive Call to Action
----------------------------------------------- */

.call {
  text-align: center;
}
.call-heading {
  font-size: ($font-m + 5px);
  padding: 0;
}
.call-text {
  font-weight: normal;
  margin-top: $space-s;
}

/* Queries
----------------------------------------------- */

@include breakpoint(m) {
  .call-heading {
    @extend .heading-l;
  }
}