/* Endorsement
----------------------------------------------- */

.endorsements {
}
.endorsement-quote {
  display: block;
  font-style: italic;
  margin-bottom: $space-s;
}
.endorsement-author {
  color: $mono-Lt;
  display: inline-block;
  font-size: $font-xs;
  font-style: normal;
  font-weight: bold;
  line-height: $lheight-m;
}
.endorsement-author-title {
  display: block;
  font-weight: normal;
}

@include breakpoint(m) {
  .endorsement-quote {
    min-height: 154px;
  }
}