/* Supporter
----------------------------------------------- */

.supporters {
  @include breakpoint(m) {
    margin-top: $space-l;
  }
  margin-top: $space-m;
  text-align: center;
}
.supporter {
  border: none !important;
  color: $mono-M;
  font-size: 80px;
  margin: 0 $space-s;
  &:hover {
    color: $mono-D;
  }
  @include breakpoint(m) {
    margin: 0 $space-m;
  }
}