/* Playground
------------------------------------------- */

.branded {
  background: $brand-color;
  color: $mono-Wt;
  text-shadow: 0 1px 1px $shadow-weak;
  h1, h2, h3, h4, h5 {
    color: $mono-Wt;
  }
  a {
    color: $mono-Wt;
    &.active {
      border-bottom-color: $mono-Wt;
    }
  }
  .button {
    border-color: $brand-color-light;
    color: $mono-Wt;
    &:active,
    &.active {
      background: $mono-Wt;
      color: $brand-color;
      border-color: $mono-Wt;
      text-shadow: none;
    }
    &.active:hover,
    &:hover {
      background: $mono-Wt;
      border-color: $mono-Wt;
      color: $brand-color !important;
    }
  }
  .button.primary {
    background: $mono-Wt;
    border-color: $mono-Wt;
    color: $brand-color;
  }
}