@charset "utf-8";

/* Import Gem-based Base Frameworks
------------------------------------------- */
@import "bourbon";

/* Import Other External Assets
------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Exo+2:400,700,400italic);

/* Import Hyperaudio Library Mixins
------------------------------------------- */
@import "lib/hidetext";
@import "lib/position";

/* Import Site Config
------------------------------------------- */
@import "config";

/* ---------------------------------------- */
/* ---------------------------------------- */
/* Style-Guide Styles
/* ---------------------------------------- */
/* ---------------------------------------- */

$space: $space-m;

.tpl_sg {
  padding-bottom: $space-h;
}
.sg-wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* Header
/* ---------------------------------------- */
.sg-header {
  border-bottom: 1px solid $mono-HL;
  margin-bottom: $space;
  padding-top: $space;
  padding-bottom: $space;
  * {
    line-height: 40px;
  }
}
.sg-header__brandmark {
  font-size: $font-l;
}
.sg-header__nav {
  @include position-top-right(0,0);
}

/* Navigation
/* ---------------------------------------- */
.sg-nav {
  list-style: decimal;
  margin-bottom: $space;
}
.sg-nav__item {
  display: block;
}
.sg-nav__link.sg-nav__link {
  display: block;
  margin-left: $space-x;
  padding: $space-s 0;
  border-bottom: 1px solid $mono-HL;
  &:hover,
  &.active {
    color: $mono-D;
  }
}

/* Modules
/* ---------------------------------------- */

.sg-mod {
  position: relative;
  margin-bottom: $space;
}
.sg-mod-heading {
  margin-bottom: $space-m;
  border-bottom: 1px solid $mono-HL;
  font-weight: bold;
  font-size: $font-l;
  line-height: $lheight-m;
  .sg-mod-class {
    border-radius: $radius-s;
    @include position-top-right($space-x, 0);
    padding: $space-x $space-s;
    border: 1px solid $mono-HL;
    background: $mono-Wt;
    color: $mono-M;
    font-size: $font-s;
    font-family: monospace;
    line-height: $lheight-xs;
  }
}
.sg-mod-intro {
  p, ul, ol, pre {
    margin-bottom: $space-m;
    padding: 0;
  }
  p, li {
    font-size: $font-s;
    line-height: $lheight-m;
  }
  p {

  }
  pre {
    border-radius: $radius-s;
    padding: $space-x $space-x;
    border: 1px solid $mono-HL;
    background: $mono-Wt;
    color: $mono-M;
    font-size: $font-xs;
    font-family: monospace;
    line-height: $lheight-m;
  }
  ul {

  }
  ol {

  }
  li {
    margin-left: ($space-m - 2px);
  }
  iframe {
    border: 1px solid $mono-HL;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      border: 2px solid white; /* should match background, can't be transparent */
      border-radius: 8px;
      background-color: rgba(0, 0, 0, .5);
    }
  }
  figure {
    border-radius: $radius-s;
    border: 1px solid $mono-HL;
    background: $mono-Wt;
    font-family: monospace;
    line-height: $lheight-xs;
    margin-top: $space-m;
    padding: $space-m;
    text-align: center;
    &.inverted {
      background: $shadow-mid;
    }
    img {
      display: inline-block;
    }
  }
  code {
    border-radius: $radius-s;
    padding: $space-x $space-x;
    border: 1px solid $mono-HL;
    background: $mono-Wt;
    color: $mono-M;
    font-size: $font-xs;
    font-family: monospace;
    line-height: $lheight-xs;
  }
}
.sg-mod-canvas {
  margin-top: $space-m;
  padding: $space-m;
  border: 1px solid $mono-HL;
  background: image-url("backgrounds/sg-grid.png") repeat;
  position: relative;
}
.sg-mod-canvas-note {
  @include position-top-left(-($space-s), $space-m);
  border-radius: $radius-s;
  background: $mono-Wt;
  border: 1px solid $mono-HL;
  color: $mono-M;
  font-family: $primary-font;
  font-size: $font-xs;
  font-weight: normal;
  line-height: $lheight-s;
  padding: $space-x $space-x;
  white-space: nowrap;
}